body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    padding: 18px;
    background-color: #DA498D;
    color: #fff;
    justify-content: center;
    display: flex;
}
.logo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0%;
}

header .logo h1 {
    font-size: 2rem;
}

nav{
  margin-left: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fac67a;
}
.hero {
    background-color: #fac67a;
    color: #333;
    text-align: center;
    padding: 30px 20px;
}
main {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

main h2 {
    color: #DA498D;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

main p {
    line-height: 1.4;
    font-size: 1.2em;
    margin: 15px 0;
    text-align: justify;
}

.highlight {
    color: #DA498D;
    font-weight: bold;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}

.btn {
    background-color: #FFFFFF;
    color: #DA498D;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.1rem;
    border-radius: 25px;
    border: 2px solid #DA498D;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color:#DA498D;
    color: #FFFFFF;
    font-weight: 400px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
